*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Borel", cursive;
    font-weight: 400;
    font-style: normal;
}


body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    background: #b022c3;
    background: linear-gradient(0deg, rgba(176, 34, 195, 1) 0%, rgba(195, 40, 215, 1) 50%, rgba(253, 45, 59, 1) 100%);
}

img{
    max-width: 200px;
    margin-top: 15px;
}

h1{
    text-align: center;
    color: white;
    font-size: 3rem;
}

h2{
    padding-top: 0.5rem;
}

.btn-container{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    outline: none;
    box-shadow: 0px 0px 20px 5px rgba(255,0,251,0.58);
    border-radius: 1rem;

    transition-property: top left;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

#no{
    height: auto;
}

a{
    color: black;
    text-decoration: none;
}